.mainOuter{width:980px;padding-bottom:20px;text-align:left;}
.mainHome{width:934px; float:left; text-align:left; background:url(../App_Images/mainDivider.gif) no-repeat 684px 0}
.mainHomeLeft{width:675px; float:left; margin-right:20px}
.mainHomeRight{width:220px; float:right}

.main{width: 1140px; float:left; text-align:left; margin-bottom:5px;background: rgba(248, 248, 255, 0.81);}
.mainLeft{width:220px;float:left;margin-right:20px;background: #137dc9;}
.mainRight{width:682px; float:left}

.homeNews strong{color:#146cd0}
.homeNews p{background:url(../App_Images/divider.gif) repeat-x bottom left; padding-bottom:15px; margin-bottom:15px}
.homeNews p.homeNewsLast{background:none; padding:0}
.homeNews p a{color:#000}

.innerNav{background:url(../App_Images/innerNavBg.jpg) no-repeat 0 0; padding:15px 20px 12px 0}
.innerNav ul{list-style: none;}
.innerNav li{background:url(../images/arrow/bulletLeftNav.gif) no-repeat 0 12px;font-size:12px;border-bottom:1px solid #f1f1f1;padding:8px 0;line-height:normal;}
.innerNav li.innerNavLast{border:none}
.innerNav a{display:block; color:white; padding:0 0 0 14px}
.innerNav a:hover{color: white;text-decoration:none;}



.groupLogo{float:left; width:682px; border-bottom:1px solid #f1f1f1; padding-bottom:15px; margin-bottom:15px}
.groupLogo .groupLogoLeft{background:url(../App_Images/groupLogoBg.gif) no-repeat top left; width:236px; height:60px; float:left; margin-right:20px}
.groupLogo .groupLogoRight{float:left; line-height:20px}
.groupLogo h5{margin-top:10px}
.groupLogo img{margin:10px 0 0 20px}

.vision{background:url(../App_Images/visionBg.gif) no-repeat center center; text-align:center; padding:10px}
.vision h4{font-size:14px; color:#146cd0; margin-bottom:10px}
.vision p{font-size:16px; line-height:30px; padding:10px 40px; font-style:italic; text-align:center; font-family:Georgia, "Times New Roman", Times, serif}

.post{border-bottom:1px solid #f1f1f1; padding-bottom:15px; margin-bottom:15px}

.dirContent{width:682px; height:120px; float:left; margin-bottom:20px; border-bottom:1px solid #f1f1f1}
.dirContent img{float:left; margin-right:20px; margin-bottom:15px;}
.dirContent h4{font-family:Arial; font-size:13px; background:none; padding:0; margin-bottom:4px; margin-top:10px}
.dirContent h5{font-size:12px; color:#757575; font-weight:normal; font-style:italic; margin-bottom:10px}
.dirContentLast{border:none}

.dirContent1{width:682px; float:left; margin-bottom:10px; border-bottom:1px solid #f1f1f1}
.dirContent1 img{float:left; margin-right:20px}
.dirContent1 h4{font-family:Arial; font-size:13px; background:none; padding:0; margin-bottom:4px; margin-top:10px}
.dirContent1 h5{font-size:12px; color:#646464; font-weight:bold;}
.dirContent1 h6{font-size:11px; color:#757575; font-weight:normal; margin-bottom:10px}
.dirContentLast1{border:none}

.clientList{float:left; width:934px}
.clientList li{float:left; background:url(../App_Images/clientListBg.gif) no-repeat center top; padding:24px 30px}

.sitemapRows{float:left; width:934px}
.sitemapColsOuter{background:url(../App_Images/mainDivider.gif) no-repeat top right; float:left; width:312px; margin-right:25px}
.sitemapCols{float:left; width:260px}
.sitemapRows .sitemapTitle{background:url(../App_Images/divider.gif) repeat-x bottom left; font-size:13px; padding-bottom:4px; margin-bottom:10px}
.sitemapRows .sitemapTitle a{font-weight:bold; color:#000}
.sitemapRows .sitemapTitle a:hover{color:#146cd0; text-decoration:none}

.address{float:left; width:682px}
.addressLeft{float:left; width:326px}
.addressRight{float:right; width:326px}
.map{background:url(../App_Images/mapBg.gif) no-repeat bottom left; padding:0 10px 10px 0}
.map img{border:1px solid #eeeeee}
.address span{ display:block; padding-bottom:3px}
.addressIcon{float:left; margin:0 10px 0 0}
.viewMap{margin-bottom:15px; text-align:right; width:316px}

.investorPopup{background:#fff url(../App_Images/investorBg.jpg) no-repeat 596px 320px; margin-left:20px; margin-right:20px}
.investorPopup input, .investorPopup textarea{width:200px}
.investorPopup h3{padding:5px 0 0}

.compliance{font-size:11px; text-align:left; padding-top:5px}
.compliance h5{font-size:11px}

.faq{margin-bottom:20px; padding-bottom:20px; background:url(../App_Images/divider.gif) repeat-x bottom left}
.faq h4{background:url(../App_Images/faqQue.gif) no-repeat 0 0; padding:0 0 5px 26px; margin:0; color:#000}
.faq p{background:url(../App_Images/faqAns.gif) no-repeat 0 3px; padding:3px 0 5px 26px; margin:0; color:#000}
.faqLast{padding:0; background:none}
.faq ol{margin:0 0 0 20px; list-style:decimal; list-style-type:decimal}
.faq li{margin:0 0 0 26px; padding:0 0 8px 0; background:none; list-style:decimal; list-style-type:decimal; line-height:normal}

.news{background:url(../App_Images/divider.gif) repeat-x bottom left; padding-bottom:7px; margin-bottom:0}
.news .title{background:url(../App_Images/bullet01.gif) no-repeat  0 5px; padding:0 0 8px 14px; color:#146cd0}

.pgThListOuter{float:left; width:682px; margin-bottom:25px}
.pgThListOuter .pgThList{float:left; width:212px; margin-right:23px}
.pgThListOuter .pgThListLast{margin:0}
.pgThListBlock{float:left; width:212px; margin-bottom:10px}
.pgThListBlock .pgThListBlockTop{background:url(../App_Images/pgThBlockTop.gif) no-repeat center top; padding-top:9px}
.pgThListBlock .pgThListBlockBtm{background:url(../App_Images/pgThBlockBtm.gif) no-repeat center bottom; height:84px; width:212px}
.pgThListBlock .pgThListBlockImg{margin:0 auto; background:#fff; width:202px; padding:1px 0 6px; text-align:center}
.pgThListBlock p{padding:12px 14px; margin:0; font-size:12px; text-align:center}